.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header .header-left, .header .header-mid, .header .header-right, .content .sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 7vh;
  background: red;
  display: flex;
}

.header .header-left {
  flex: 2;
}

.header .header-mid {
  flex: 8;
}

.header .header-right {
  flex: 2;
}

.main {
  flex: 1;
  overflow: hidden;
}

.content .sec {
  width: 98vw;
  margin-left: 1vw;
  height: 30vh;
  background: #eeeeee;
  border-radius: 10px;
  margin-bottom: 10px;
}

.content .sec img {
  width: 90vw;
  height: 30vh;
}

.footer {
  height: 5vh;
  background: red;
}
